<h1 id="testing">Here's the Home Page!</h1>
<br>
<br>


<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary"><a href="/login">user login</a>
    </button>
    <button type="button" class="btn btn-secondary"><a    href="/toast">swipping action</a>
    </button>
    <button type="button" class="btn btn-secondary"><a    href="/register">Register</a>
    </button>
    <button type="button" class="btn btn-secondary"><a    href="https://www.google.com" target="_blank">pay attention</a>
    </button>
    <button type="button" class="btn btn-secondary"><a    href="https://github.com/404-Group-Not-Found/Project2" target="_blank">github repo</a>
    </button>
</div>

