    <div class="container">
       <div class="standard">
           <h1>Placeholder for swiping animation!</h1>
       </div>
    </div>
<div class="panel">
    <div class="modal-dialog">
        <div class="registermodal-container">
            <h1>Create Your Account</h1><br>
            <form>
            <input type="text" name="user" placeholder="Username">
            <input type="password" name="pass" placeholder="Password">
            <input type="submit" name="login" class="login loginmodal-submit" value="Sign Up">
            </form>
        </div>
    </div>
</div>