<div id="register">   
    <div class="container">

    </div>
    <div class="panel">
        <div class="modal-dialog">
            <div class="registermodal-container standard heading">
                <h1>Create Your Account</h1><br>
                <div id="noToast"></div>
                <form>
                    <input type="text" name="user" placeholder="Username" id="user">
                    <input type="password" name="pass" placeholder="Password" id="pass">
                </form>
                <button type="button" class="btn btn-warning links" id="testSubmit">Sign Up!
                </button>

                 <div class="login-help standard">
                    <a class="links" href="/login">Go To Login</a> |
                    <a class="links" href="/swyppa">Swipe Away</a>
                </div>
            </div>
        </div>
    </div>
</div> 

<script src="/assets/js/register.js"></script>