/*Utility styles*/
body, html {
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
}
img {
  pointer-events: none;
  width: 100%;
  height: auto;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  clear: both;
  display: block;
}
.text-active {
  color: #d94b3f;
}
.text-inactive {
  color: #d3d3d3;
}

/*Card styles*/
.cards-container {
  position: relative;
  width: 100%;
}
.card {
  overflow: hidden;
  position: absolute;
  left:0;
  right:0;
  top: 50px;
  margin: 0 auto;
  width: 512px;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
}
.card.animate {
  transition: all .3s;
}
.card-image {
  position: relative;
}
.card-image-yes,
.card-image-no {
  z-index: 99;
  position: absolute;
  top: 50px;
  width: 100px;
  padding: 5px;
  border: 5px solid;
  border-radius: 10px;
  font-size: 2em;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
  opacity: 0;
}
.card-image-yes {
  left: 30px;
  color: green;
  border-color: green;
  transform: rotate(-30deg);
}
.card-image-no {
  left: calc(512px - 115px - 30px);
  color: red;
  border-color: red;
  transform: rotate(30deg);
}
.card-info {
  background-color: #fff;
  padding: 20px;
  font-size: 1.2em;
}
.card-info .info-name {
  font-weight: bold;
}

/*Match screen styles*/
#match-fancy-text-img {
  max-width: 512px;
}
.match-screen {
  opacity: 0;
  position: absolute;
  text-align: center;
  font-size: 2em;
  height: 100vh;
  width: 100%;
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  transition: all 1s;
}
.match-images {
  width: 75%;
  margin: 0 auto;
}
.match-images img {
  display: inline;
  max-width: 175px;
  width: 35%;
  margin: 5%;
  border-radius: 50%;
  border: 2px solid #fff;
}
.match-return-btn {
  border: 1px solid #fff;
  border-radius: 5px;
  max-width: 350px;
  margin-top: 25px;
  padding: 15px 45px;
  color: #fff;
  background-color: transparent;
  transition: all .3s;
}
.match-return-btn:hover {
  background-color: #fff;
  color: #000;
}

/*Reset button*/
.reset-btn {
  z-index: 1;
  position: absolute;
  left:0;
  right:0;
  top: 100px;
  margin: 0 auto;
  padding: 15px 45px;
  width: 256px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: transparent;
  color: #000;
  transition: all .3s;
}
.reset-btn:hover {
  background-color: #000;
  color: #fff;
}

/*Responsiveness*/
@media (max-width: 512px) {
  .card {
    width: 400px;
  }
  .card-image-no {
    left: calc(400px - 115px - 30px);
  }
  .card-info {
    font-size: 1em;
  }
  .match-screen {
    font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  .card {
    width: 300px;
  }
  .card-image-no {
    left: calc(300px - 115px - 30px);
  }
}

@media (max-width: 300px) {
  .card {
    width: 256px;
  }
  .card-image-no {
    left: calc(250px - 115px - 30px);
  }
}
