<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

  <!--library dependencies-->
  <link rel="stylesheet" href="lib/lib.min.css" />
  <script type="text/javascript" src="lib/lib.min.js"></script>

  <!--app files-->
  <link rel="stylesheet" href="css/main.css" />
  <script type="text/javascript" src="js/services.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
  <script type="text/javascript" src="js/directives.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="tinder">
  <div ng-controller="MainCtrl">
    <button class="reset-btn" ng-click="getCards()">
      Try Again?
    </button>

    <div class="cards-container">
      <div class="card tinder-card" ng-repeat="card in cards" data-index="{{$index}}">
        <div class="card-image">
          <span class="card-image-yes">LIKE</span>
          <span class="card-image-no">NOPE</span>
          <img ng-src="{{card.image}}">
        </div>
        <div class="card-info clearfix">
          <div class="float-left">
            <span class="info-name">{{card.name}},</span>&nbsp;
            <span class="info-age">{{card.age}}</span>
          </div>
          <div class="float-right">
            <span ng-class="{'text-active': (card.common.friends > 0), 'text-inactive': (card.common.friends <= 0)}">
              <i class="fa fa-users"></i> {{card.common.friends}}
            </span>&nbsp;
            <span ng-class="{'text-active': (card.common.interests > 0), 'text-inactive': (card.common.interests <= 0)}">
              <i class="fa fa-book"></i> {{card.common.interests}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="match-screen">
      <img id="match-fancy-text-img" src="img/match_text.png">
      <p>You and {{match.name}} have liked each other.</p>
      <div class="match-images clearfix">
        <img ng-src="{{user.image}}">
        <img ng-src="{{match.image}}">
      </div>
      <button class="match-return-btn">
        <i class="fa fa-user"></i> Keep Playing
      </button>
    </div>
  </div>
</body>
</html>
