#testing{
    color: powderblue;
}
/*===================== Form Styles ================*/
form input {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
#heading {
    color:#800000;
    text-align: center;
}
.modal-dialog {
    background: #00000085;
    padding: 20px;
}
.panel {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#standard{
    text-align: center;
    /* margin: 5px;
    padding: 5px; */
}

.container {
    position: absolute;
    height: 100vh;
    width: 100%;
}

#cycleBg{
    z-index: -1;
}