#testing{
    color: powderblue;
}
/*===================== Form Styles ================*/
form input {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
#heading {
    color:#ccb046;
    text-align: center;
}
.modal-dialog {
    background: #00000085;
    padding: 20px;
}
/* positioning and styling login modal */
.panel {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#standard{
    text-align: center;
    /* margin: 5px;
    padding: 5px; */
}
.links {
    color: #ccb046;
}

.container {
    position: absolute;
    height: 100vh;
    width: 100%;
}
/* modifying the transparency of background carousel */
.carousel-inner {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: -1;
  }
.carousel-inner::after{
    content: "";
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}